.teacherCardsList{
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 30px;
}
@media(max-width:600px){
	.header, .mainP{
		text-align: center !important;
	}
	
}

