.course-card {
  background-color: #FFFFFF;
  width: 306px !important;
  height: 400px !important;
  transition: 0.3s !important;
  -webkit-transition: 0.3s !important;
  -moz-transition: 0.3s !important;
  -ms-transition: 0.3s !important;
  -o-transition: 0.3s !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 6px !important;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  -ms-border-radius: 6px !important;
  -o-border-radius: 6px !important;
}
.course-card:hover {
  background-color: #E6E6E6;
  transform: translatey(-10px);
  -webkit-transform: translatey(-10px);
  -moz-transform: translatey(-10px);
  -ms-transform: translatey(-10px);
  -o-transform: translatey(-10px);
}
.cardContent {
    text-align: right;
   
  }
image {
  min-width: 100% !important;
  max-height: 50% !important;
}
.teacher-name{
  font-size:16px !important ;
}
.avatar{ 
  width: 40px !important;
  height: 40px !important;
  margin-left: 10px !important;
}
.course-title {
  font-weight: 700 !important;
  color: rgba(68, 68, 68, 1) !important;
  font-size: 20px !important;
}
.specialization-name{
  font-size: 13px !important;
}
.showMore {
  width: 90% !important;
  border-radius: 6px !important;
  background-color: #47896D!important;
  color: #FFFFFF!important;
  font-size: 16px !important;
}

.icon {
  margin-left: 10px;
  font-size: 22px !important;
}


